@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumPenScript';
  font-weight: 400;
  font-display: block;
  font-style: normal;
  font-named-instance: 'Regular';
  src: url('/fonts/NanumPenScript.woff2') format('woff2');
}

@layer base {
  :root {
    --primary: #ff5757;
    --secondary: #000000;
    --font-poppins: 'Poppins', sans-serif;
    --font-ibm-plex-serif: 'IBM Plex Serif', serif;
    --font-inter: 'Inter', sans-serif;
    --font-titillium-web: 'Titillium Web', sans-serif;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-ibm-plex-serif);
  }
  p {
    font-family: var(--inter);
  }
}
